*{
  margin: 0;
  font-family: 'Merriweather', serif;
}
body {
  background-image: url("../images/background.jpg");
  width: 100%;
}
p, h2, h3{
  margin-bottom: 10px;
}
.envlope{
  max-width: 960px;
  margin: auto;
}
.logo{
  position: absolute;
  z-index: 10;
  margin: 1% 0 0 1%;
   
}

@media only screen and (max-width: 400px){
  .logo img{
   float: none;
   display: none;

  }
}

.logo img{
  max-width: 100%;
  height: auto;
  
}

#menu{
  height: 40px;
  width:  960px;
  background-color: #3F0706;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 9.3%;
}
#menu ul {
  list-style: none;
}
#menu ul li{
  display: inline;
}
.menuBot{
  padding: 0.2% 1%;
  /* display: table-cell; */
  color: #FFF;
  text-decoration: none;
}
.cabecalho{
  position: relative;
}
.cabecalho img{
  max-width: 100%;
}

.manchete{
  position: absolute;
  bottom: 1%;
  display: table-cell;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-style: italic;
  font-size: 72px;
  color: #FFF;
}
#apresentacao{
  background-color: #F4F0E4;
  padding: 9.3%;
}
#cafes{
  background-color: #BEA074;
  padding: 9.3%;
}
.tiposCafe{
  display: flex;
  justify-content: space-between;
}
.cafe{
  width: 14.5%;
}
.cafe img{
  margin-bottom: 1%;
  max-width: 100%;
}
#localiza{
  width: 100%;
  height: 420px;
  position: relative;
}
iframe{
  width: 100%;
  height: 100%;
}
.boxLocaliza{
  position: absolute;
  top: 90px;
  left: 90px;
  width: 31.2%;
  padding: 1%;
  background-color: #3F0706;
  color: #FFF;
}
#contato{
  background-color: #F4F0E4;
  padding: 9.3%;
  display: flex;
  justify-content: space-between;
}
.textoContato{
  width: 22.9%;
}
.formContato{
  width: 39.5%;
}
input[type=text] {
    width: 100%;
    padding: 1.2% 2%;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    border-style: none;
}
textarea{
  width: 100%;
  padding: 1.2% 2%;
  box-sizing: border-box;
  border-style: none;
}
input[type=submit] {
  background-color: #3F0706;
  border-style: none;
  color: #FFF;
  padding: 1.4%;
  margin-top: 30px
}
.rodape{
  background-color: #3F0706;
  text-align: center;
  height: 40px;
  width: 960px;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
}
.rodape p {
  margin: 0;
}
